name: CI
on:
   push:
     branches: [ "master" ]
   pull_request:
     branches: [ "master" ]

jobs:
   build:
     runs-on: ubuntu-latest
      
     steps:
     - uses: actions/checkout@v3
     - name: Setup CI
       uses: actions/setup-dotnet@v2
       with:
         dotnet-version: 5.0.x
     
     # build dependencies
     - name: Restore dependencies
       run: dotnet restore
       
     # build project
     - name: Build
       run: dotnet build --no-restore
       
       # config report
     - name: Set Test Title
       run: | 
            if ${{ github.event_name == 'pull_request' }}
            then
              echo "title=Test Run for PR #${{steps.PRNUMBER.outputs.pr}} (${{github.run_number}})" >> $GITHUB_ENV
              echo "file_name=TestReport.${{steps.PRNUMBER.outputs.pr}}.${{github.run_number}}.md" >> $GITHUB_ENV              
            else
              echo "title=Test Run ${{github.run_number}}" >> $GITHUB_ENV
              echo "file_name=TestReport.${{github.run_number}}.md" >> $GITHUB_ENV
            fi
            
     # run tests
     - name: Integration Tests
       run: dotnet test --no-restore --no-build --logger:"liquid.md;LogFileName=${{github.workspace}}/${{env.file_name}};Title=${{env.title}};" 
       
     # upload report as build artifact
     - name: Upload a Build Artifact
       uses: actions/upload-artifact@v2
       if: ${{failure()}}
       with:
        name: 'Integration Tests'
        path: ${{github.workspace}}/${{env.file_name}}
     
     # Set variables 
     - name: Set variables
       if: ${{failure()}}
       run: |
        export VER="$(cat ${{github.workspace}}/${{env.file_name}})"
        echo "VER=$VER" >> $GITHUB_ENV
    
     # notify by slack    
     - name: Notification Slack
       uses: rtCamp/action-slack-notify@v2
       if: ${{failure()}}
       env:
        MSG_MINIMAL: ref,event,commit
        SLACK_CHANNEL: pocdotnet
        SLACK_COLOR: ${{ job.status }}
        SLACK_ICON: https://avatars.slack-edge.com/2021-01-27/1681964022883_e2b796f58399d6ab552f_512.jpg
        SLACK_TITLE: 'O status da execução foi ${{ job.status }}'
        SLACK_MESSAGE: '${{ github.event.pull_request.html_url || github.event.head_commit.url }}\n${{env.VER}}'
        SLACK_USERNAME: Poc_Teste_Integrado
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
